CREATE DATABASE [PC_05]
GO
USE [PC_05]
GO
/****** Object:  Table [dbo].[CleaningRoom]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleaningRoom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_CleaningRoom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CleaningRoomDetail]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleaningRoomDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CleaningRoomID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartDateTime] [datetime] NULL,
	[FinishDateTime] [datetime] NULL,
	[Note] [text] NULL,
	[StatusCleaning] [varchar](50) NULL,
 CONSTRAINT [PK_CleaningRoomDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CleaningRoomItem]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CleaningRoomItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CleaningRoomDetailID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CleaningRoomItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[NIK] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Gender] [char](1) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[JobID] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[RequestPrice] [int] NOT NULL,
	[CompensationFee] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemStatus]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ItemStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationCheckOut]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationCheckOut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationRoomID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemStatusID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalCharge] [int] NOT NULL,
 CONSTRAINT [PK_ReservationCheckOut] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationRequestItem]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationRequestItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationRoomID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalPrice] [int] NOT NULL,
 CONSTRAINT [PK_ReservationRequestItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationRoom]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationRoom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartDateTime] [date] NOT NULL,
	[DurationNights] [int] NOT NULL,
	[RoomPrice] [int] NOT NULL,
	[CheckInDateTime] [datetime] NOT NULL,
	[CheckOutDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_ReservationRoom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[RoomNumber] [varchar](50) NOT NULL,
	[RoomFloor] [varchar](50) NOT NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 09/07/2019 13:51:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Capacity] [int] NOT NULL,
	[RoomPrice] [int] NOT NULL,
 CONSTRAINT [PK_RoomType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Name], [NIK], [Email], [Gender], [PhoneNumber], [Age]) VALUES (1, N'Brietta Thoday', N'5115265323742150', N'bthoday0@wordpress.com', N'F', N'525-241-4504', 61)
INSERT [dbo].[Customer] ([ID], [Name], [NIK], [Email], [Gender], [PhoneNumber], [Age]) VALUES (2, N'Farly Streatfeild', N'3961356631313300', N'fstreatfeild1@walmart.com', N'M', N'370-313-3693', 48)
INSERT [dbo].[Customer] ([ID], [Name], [NIK], [Email], [Gender], [PhoneNumber], [Age]) VALUES (3, N'Harold Durrett', N'3088798878779290', N'hdurrett2@webs.com', N'M', N'202-981-5952', 39)
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [Username], [Password], [Name], [Email], [Address], [DateOfBirth], [JobID]) VALUES (1, N'celestyn.rowney', N'e60826f96d0d2092df24410c9af0502b506085576278ba3afb5442703efd7270', N'Celestyn Rowney', N'crowney0@businessinsider.com', N'94281 High Crossing Pass, Shihudang', CAST(N'1970-07-06' AS Date), 7)
INSERT [dbo].[Employee] ([ID], [Username], [Password], [Name], [Email], [Address], [DateOfBirth], [JobID]) VALUES (2, N'sandro.pardi', N'63433187bd55af716ab239521b478070e0850f3701922211d22aa1310ed0ab8a', N'Sandro Pardi', N'spardi1@theguardian.com', N'186 Fallview Alley, Youssoufia', CAST(N'1994-06-24' AS Date), 4)
INSERT [dbo].[Employee] ([ID], [Username], [Password], [Name], [Email], [Address], [DateOfBirth], [JobID]) VALUES (3, N'vaughn.foye', N'68a47231a149ff43bb250833b96dd6089fd6274697d951dcdbf2a20dce038793', N'Vaughn Foye', N'vfoye2@dion.ne.jp', N'425 Main Center, Gora', CAST(N'1979-04-18' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Item] ON 

INSERT [dbo].[Item] ([ID], [Name], [RequestPrice], [CompensationFee]) VALUES (1, N'Extra Bed', 250000, 1000000)
INSERT [dbo].[Item] ([ID], [Name], [RequestPrice], [CompensationFee]) VALUES (3, N'Honeymoon Decoration', 300000, NULL)
INSERT [dbo].[Item] ([ID], [Name], [RequestPrice], [CompensationFee]) VALUES (4, N'Bed Cover', 300000, 600000)
SET IDENTITY_INSERT [dbo].[Item] OFF
SET IDENTITY_INSERT [dbo].[ItemStatus] ON 

INSERT [dbo].[ItemStatus] ([ID], [Name]) VALUES (1, N'Broken')
INSERT [dbo].[ItemStatus] ([ID], [Name]) VALUES (2, N'Lost')
SET IDENTITY_INSERT [dbo].[ItemStatus] OFF
SET IDENTITY_INSERT [dbo].[Job] ON 

INSERT [dbo].[Job] ([ID], [Name]) VALUES (1, N'Front Office')
INSERT [dbo].[Job] ([ID], [Name]) VALUES (4, N'Housekeeper')
INSERT [dbo].[Job] ([ID], [Name]) VALUES (6, N'Housekeeper Supervisor')
SET IDENTITY_INSERT [dbo].[Job] OFF
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ID], [DateTime], [EmployeeID], [CustomerID], [Code]) VALUES (1, CAST(N'2018-07-08T00:33:39.000' AS DateTime), 136, 10, N'K93ZN8')
INSERT [dbo].[Reservation] ([ID], [DateTime], [EmployeeID], [CustomerID], [Code]) VALUES (2, CAST(N'2018-07-08T02:48:46.000' AS DateTime), 199, 860, N'V6BQI3')
INSERT [dbo].[Reservation] ([ID], [DateTime], [EmployeeID], [CustomerID], [Code]) VALUES (3, CAST(N'2018-07-08T12:27:44.000' AS DateTime), 142, 814, N'EHKQ3O')
GO
SET IDENTITY_INSERT [dbo].[Reservation] OFF
SET IDENTITY_INSERT [dbo].[ReservationRoom] ON 

INSERT [dbo].[ReservationRoom] ([ID], [ReservationID], [RoomID], [StartDateTime], [DurationNights], [RoomPrice], [CheckInDateTime], [CheckOutDateTime]) VALUES (0, 534, 52, CAST(N'2018-07-08' AS Date), 8, 0, CAST(N'2018-07-08T13:25:59.000' AS DateTime), CAST(N'2018-07-16T11:02:34.000' AS DateTime))
INSERT [dbo].[ReservationRoom] ([ID], [ReservationID], [RoomID], [StartDateTime], [DurationNights], [RoomPrice], [CheckInDateTime], [CheckOutDateTime]) VALUES (1, 566, 24, CAST(N'2018-07-08' AS Date), 1, 0, CAST(N'2018-07-08T19:06:32.000' AS DateTime), CAST(N'2018-07-09T07:40:53.000' AS DateTime))
INSERT [dbo].[ReservationRoom] ([ID], [ReservationID], [RoomID], [StartDateTime], [DurationNights], [RoomPrice], [CheckInDateTime], [CheckOutDateTime]) VALUES (2, 413, 23, CAST(N'2018-07-09' AS Date), 9, 0, CAST(N'2018-07-09T14:13:48.000' AS DateTime), CAST(N'2018-07-18T12:31:27.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ReservationRoom] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([ID], [RoomTypeID], [RoomNumber], [RoomFloor], [Description]) VALUES (1, 1, N'201', N'2', NULL)
INSERT [dbo].[Room] ([ID], [RoomTypeID], [RoomNumber], [RoomFloor], [Description]) VALUES (2, 3, N'202', N'2', NULL)
INSERT [dbo].[Room] ([ID], [RoomTypeID], [RoomNumber], [RoomFloor], [Description]) VALUES (3, 1, N'203', N'2', NULL)
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([ID], [Name], [Capacity], [RoomPrice]) VALUES (1, N'Standard Twin Bed', 2, 620000)
INSERT [dbo].[RoomType] ([ID], [Name], [Capacity], [RoomPrice]) VALUES (3, N'Standard Double Bed', 2, 600000)
INSERT [dbo].[RoomType] ([ID], [Name], [Capacity], [RoomPrice]) VALUES (4, N'Deluxe Twin Bed', 2, 920000)
SET IDENTITY_INSERT [dbo].[RoomType] OFF
ALTER TABLE [dbo].[CleaningRoom]  WITH NOCHECK ADD  CONSTRAINT [FK_CleaningRoom_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[CleaningRoom] CHECK CONSTRAINT [FK_CleaningRoom_Employee]
GO
ALTER TABLE [dbo].[CleaningRoomDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_CleaningRoomDetail_CleaningRoom] FOREIGN KEY([CleaningRoomID])
REFERENCES [dbo].[CleaningRoom] ([ID])
GO
ALTER TABLE [dbo].[CleaningRoomDetail] CHECK CONSTRAINT [FK_CleaningRoomDetail_CleaningRoom]
GO
ALTER TABLE [dbo].[CleaningRoomDetail]  WITH NOCHECK ADD  CONSTRAINT [FK_CleaningRoomDetail_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([ID])
GO
ALTER TABLE [dbo].[CleaningRoomDetail] CHECK CONSTRAINT [FK_CleaningRoomDetail_Room]
GO
ALTER TABLE [dbo].[CleaningRoomItem]  WITH NOCHECK ADD  CONSTRAINT [FK_CleaningRoomItem_CleaningRoomDetail] FOREIGN KEY([CleaningRoomDetailID])
REFERENCES [dbo].[CleaningRoomDetail] ([ID])
GO
ALTER TABLE [dbo].[CleaningRoomItem] CHECK CONSTRAINT [FK_CleaningRoomItem_CleaningRoomDetail]
GO
ALTER TABLE [dbo].[CleaningRoomItem]  WITH NOCHECK ADD  CONSTRAINT [FK_CleaningRoomItem_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[CleaningRoomItem] CHECK CONSTRAINT [FK_CleaningRoomItem_Item]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Job] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Job]
GO
ALTER TABLE [dbo].[Reservation]  WITH NOCHECK ADD  CONSTRAINT [FK_Reservation_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Customer]
GO
ALTER TABLE [dbo].[Reservation]  WITH NOCHECK ADD  CONSTRAINT [FK_Reservation_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([ID])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Employee]
GO
ALTER TABLE [dbo].[ReservationCheckOut]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationCheckOut_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[ReservationCheckOut] CHECK CONSTRAINT [FK_ReservationCheckOut_Item]
GO
ALTER TABLE [dbo].[ReservationCheckOut]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationCheckOut_ItemStatus] FOREIGN KEY([ItemStatusID])
REFERENCES [dbo].[ItemStatus] ([ID])
GO
ALTER TABLE [dbo].[ReservationCheckOut] CHECK CONSTRAINT [FK_ReservationCheckOut_ItemStatus]
GO
ALTER TABLE [dbo].[ReservationCheckOut]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationCheckOut_ReservationRoom] FOREIGN KEY([ReservationRoomID])
REFERENCES [dbo].[ReservationRoom] ([ID])
GO
ALTER TABLE [dbo].[ReservationCheckOut] CHECK CONSTRAINT [FK_ReservationCheckOut_ReservationRoom]
GO
ALTER TABLE [dbo].[ReservationRequestItem]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationRequestItem_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[ReservationRequestItem] CHECK CONSTRAINT [FK_ReservationRequestItem_Item]
GO
ALTER TABLE [dbo].[ReservationRequestItem]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationRequestItem_ReservationRoom] FOREIGN KEY([ReservationRoomID])
REFERENCES [dbo].[ReservationRoom] ([ID])
GO
ALTER TABLE [dbo].[ReservationRequestItem] CHECK CONSTRAINT [FK_ReservationRequestItem_ReservationRoom]
GO
ALTER TABLE [dbo].[ReservationRoom]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationRoom_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ID])
GO
ALTER TABLE [dbo].[ReservationRoom] CHECK CONSTRAINT [FK_ReservationRoom_Reservation]
GO
ALTER TABLE [dbo].[ReservationRoom]  WITH NOCHECK ADD  CONSTRAINT [FK_ReservationRoom_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Room] ([ID])
GO
ALTER TABLE [dbo].[ReservationRoom] CHECK CONSTRAINT [FK_ReservationRoom_Room]
GO
ALTER TABLE [dbo].[Room]  WITH NOCHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomType] ([ID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_RoomType]
GO
